.miniLogo{width: 158px;
    width: 169px;
    height: 57px;
    padding: 6px;
    transform: rotateZ( -11deg);}
.sidelogo{
    // max-width: 100%;

    // max-width: 100%;
    // color: #fff;
    // width: 100%;
    // background: #3c4b64;
    // max-height: 90px;
    max-width: 100%;
    max-width: 100%;
    color: #fff;
    width: 100%;
    background: #f7f7f7;
    max-height: 98px;
    /* width: 169px; */
    /* height: 57px; */
    padding: 16px;
    transform: rotateZ( 
-11deg);
}
.c-sidebar .c-sidebar-brand {
    color: #fff;
    background: rgb(247 247 247);
}
.badg-click{cursor: pointer;}
.d-md-down-none.c-header-nav{
    margin-inline-end: auto !important;
    // margin-right: auto !important;
}
// .mr-auto
.text-end{
    text-align: end;
}
.c-sidebar .c-sidebar-brand {
overflow: hidden;
}